<div class="row" ng-class="statusClass">
  <div class="col s12 m8 offset-m2">
    <h1><%= image_tag 'logo.png', alt: 'SendGrid' %></h1>

    <%= form_for :user, html: {'ng-submit': 'submitUser($event)', class: 'row'} do |f| %>

      <div class="reveal-with-in">
        <h1 class="lobster-text">Congratulations, {{user.first_name}}</h1>
        <p>You are Logged in!!</p>
        <p><a class="btn" href="#" ng-click="logout($event)">Logout</a></p>
      </div>

      <h2 class="reveal-with-out col s12">Get Started for Free</h2>

      <div class="input-field col s12 m5" data-mutant-attributes="height">
        <%= f.text_field :first_name, class: "validate", 'ng-model': 'user.first_name' %>
        <%= f.label :first_name, "First Name" %>
      </div>
      <div class="input-field col s12 m5 offset-m2" data-mutant-attributes="height">
        <%= f.text_field :last_name, class: "validate", data: {tooltip: 'asdasdasd'}, 'ng-model': 'user.last_name' %>
        <%= f.label :last_name, "Last Name" %>
      </div>
      <div class="input-field col s12 m5" data-mutant-attributes="height">
        <%= f.text_field :username, class: "validate", 'ng-model': 'user.username' %>
        <%= f.label :username, "Username" %>
      </div>
      <div class="input-field col s12 m5 offset-m2" data-mutant-attributes="height">
        <%= f.email_field :email, class: "validate", 'ng-model': 'user.email' %>
        <%= f.label :email, "Email Address" %>
      </div>
      <div class="input-field col s12 m5" data-mutant-attributes="height">
        <%= f.password_field :password, class: "validate", 'ng-model': 'user.password' %>
        <%= f.label :password, "Password" %>
      </div>
      <div class="input-field col s12 m5 offset-m2" data-mutant-attributes="height">
        <%= f.password_field :password_confirmation, class: "validate", 'ng-model': 'user.password_confirmation' %>
        <%= f.label :password_confirmation, "Confirm Password" %>
      </div>
      <div class="col s12">
        <div class="section flip-with-out">
          <!-- Since these .btns are inline-blocks, they need to be flush against each other -->
          <%= f.button 'Sign up', class: 'waves-effect waves-dark btn' %><a class="waves-effect waves-dark btn-plain modal-trigger" href="#plans-modal">Review Other Plans</a>
        </div>
      </div>
    <% end %>
  </div>


</div>
<%= content_for :javascripts %>
<script>
  $(window).load(function(){
    // Reveal modal after dust has settled ensuring smooth animation
    $('.modal-trigger').leanModal();
  });
</script>