<!DOCTYPE html>
<html ng-app="appChallenge">
<head>
  <title>UiDeveloperChallenge</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" ng-controller="UserCtrl">
  <% if notice || alert %>
    <div class="messages row">
      <% if notice %>
        <p class="alert alert-success col s12"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger col s12"><%= alert %></p>
      <% end %>
    </div>
  <% end %>


  <%= yield %>
</div>
<%= render "layouts/modals" %>

</body>
</html>
